<!DOCTYPE html>
<html>
  <head>
    <title>My Gallery</title>
    <link rel="stylesheet" href="/index.css" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      defer
    ></script>
    <script src="https://codepen.io/andytran/pen/vLmRVp.js" defer></script>
    <script src="/index.js" defer></script>
  </head>
  <body>
    <!-- Form-->
    <div class="form">
      <div class="form-toggle"></div>
      <div class="form-panel one">
        <div class="form-header">
          <h1>Account Login</h1>
        </div>
        <% if (logMessage.length > 0) { %>
        <div
          class="alert alert-danger"
          style="color: red; margin: 0px 0px 20px 0px"
        >
          <%= logMessage %>
        </div>
        <% } %>
        <div class="form-content">
          <form action="/login" method="post">
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" id="email" name="email" required="required" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                required="required"
              />
            </div>
            <div class="form-group">
              <label class="form-remember">
                <input type="checkbox" />Remember Me </label
              ><a class="form-recovery" href="#"> Need to Register?</a>
            </div>
            <div class="form-group">
              <button type="submit">Log In</button>
            </div>
          </form>
        </div>
      </div>
      <div class="form-panel two">
        <div class="form-header">
          <h1>Register Account</h1>
        </div>
        <% if (signMessage.length > 0) { %>
        <div
          class="alert alert-danger"
          style="color: red; margin: 0px 0px 20px 0px"
        >
          <%= signMessage %>
        </div>
        <% } %>
        <div class="form-content">
          <form action="/signup" method="post">
            <div class="form-group">
              <label for="userName">Username</label>
              <input
                type="text"
                id="userName"
                name="userName"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required="required" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="cPassword">Confirm Password</label>
              <input
                type="password"
                id="cPassword"
                name="cPassword"
                required="required"
              />
            </div>
            <div class="form-group">
              <button type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
